POSTGRES_DB=whitewhale
POSTGRES_USER=whitewhale
POSTGRES_PASSWORD=replace-with-a-long-random-password

WHITEWHALE_DATA_ROOT=/srv/whitewhale/data
WHITEWHALE_POSTGRES_ROOT=/srv/whitewhale/postgres
WHITEWHALE_HTTPS_SITE=https://whitewhale.local
WHITEWHALE_HTTPS_PORT=443
WHITEWHALE_TAILSCALE_UPSTREAM_PORT=8080
WHITEWHALE_REQUIRE_ACTIVE_CATALOG=false
